@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #f3e3cc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#main-header {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #444;
}

h2, p, table {
    color: #444;
    font-family: "Lato";
}

h2 {
    font-size: 24px;;
}

p {
    font-size: 18px;
}

img {
    border-radius: 10px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.5);
    transition: .4s;
}

img:hover {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
    transition: .4s;
}

td {
    padding: 10px 20px 10px 10px;
}


#table-header {
    background-color: rgb(255, 241, 223);
}

.table-row {
    background-color: rgb(193, 255, 234);
}
